*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    font-size: 100%;
    line-height: 1.5;
    font-weight: 400;
    background: #222;
    color: rgb(235, 235, 235);
  }

  h1 {
      font-size: 18px;
      text-align: center;
  }

  header,
  footer,
  section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  header,
  footer {
    height: 50px;
    background: #222;
    border: 1px solid #ded;
  }
 
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: calc(100vh - 100px - 1rem);
    margin: .5rem 0;
    text-align: center;
  }
 
  .container .left {
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
    
  }
  .container .right {
    flex-direction: column;
    justify-content: flex-start;
  }
  .container .right .top, .container .right .bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50%;
   
  }
  .container .main {
    flex: 1;
    margin: 0 .5rem;
    background: #222;
    border: 1px solid #ded;
    width: 60%;
  }

  .content-box {
      width: 100%;
      padding: 0 .5rem;
      background: #222;
      border: 1px solid #ded;
    }

  .content-box.global{
    height: 10rem;
    margin-bottom: 0.5rem;
}

.content-box.country{
    height: 100%;
}
  
.content-box.date{
      height: 5rem;
      margin-top: 0.5rem;
}

.content-box#one {
    width: 17em;
    margin-right: 0.5rem;
}

.content-box#two {
    width: 17em;
    margin-left: 0.25rem;
  }

.content-box#three {
    margin-top: 0.5rem;
    width: 35em;
  }
/* FOOTER */
footer {
      height: 100px;
}
.footer__content{
    display: flex;
}
footer a {
    text-decoration: none;
    color:#fff
}
footer a:hover {
   color: coral;
}
.footer__RS-logo{
    margin: 1rem 0;
    width: 8rem;
    margin-right: 100px;
}
.footer__RS-logo:hover{
    opacity: 0.8;
}