* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin button {
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  line-height: 1.5;
  font-weight: 400;
  background: #222;
  color: rgb(235, 235, 235);
}

h1 {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}

header,
footer,
section {
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
footer {
  height: 50px;
  background: #2a2f43;
  border: 1px solid #616ed4;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: calc(100vh - 166px);
  margin: 0.5rem 0;
}
.container > section {
  flex-direction: column;
  justify-content: center;
}
.container__right > div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50%;
  margin-bottom: 0.5rem;
}
.container .map {
  flex: 1;
  margin: 0 0.5rem;
  background: #2a2f43;
  flex-grow: 3;
}
.content-box {
  width: 100%;
  height: 100%;
  padding: 0 0.5rem;
  background: #2a2f43;
  border: 1px solid #616ed4;
  &.global {
    height: 10rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  &.country {
    height: 100%;
    overflow: auto;
    text-align: center;
  }
  & .country__table,
  .deaths__table,
  .recovered__table {
    cursor: pointer;
    border-bottom: 1px solid #616ed459;
    padding: 5px 0 5px 7px;
    &:hover {
      background-color: #f9b54fcb;
    }
  }
  &.date {
    height: 5rem;
    margin-top: 0.5rem;
    text-align: center;
  }
  &.expanded .expand {
    background: url(../assets/collapse.svg) center center no-repeat;
    margin-right: 20px;
    margin-top: 4px;
    height: 16px;
    width: 16px;
    &:hover {
      opacity: 0.5;
    }
  }
  &.expanded {
    z-index: 9999999;
    position: absolute;
    display: block;
    width: 100%;
    height: calc(100vh - 165px);
    top: 58px;
    bottom: 0;
    right: 0;
    left: 0;
    padding-left: 8px;
    margin: 0;
  }
}
.country__table {
  display: flex;
  justify-content: space-between;
}
.content-box#deaths {
  width: 17.2em;
  margin-right: 0.5rem;
  overflow: auto;
  text-align: center;
  &.expanded {
    width: 100%;
  }
  :first-child {
    text-align: center;
  }
}
.content-box#map {
  &.expanded {
    width: 100%;
    height: calc(100vh - 165px);
    top: 58px;
    bottom: 0;
    left: 0;
    margin: 0;
  }
}
.dlobal-death,
.dlobal-recovered,
.dlobal-cases {
  font-size: 2em;
  color: #f9b64f;
}
.deaths__table,
.recovered__table {
  display: flex;
  justify-content: space-between;
}
.content-box#recovered {
  width: 17em;
  margin-left: 0.25rem;
  overflow: auto;
  text-align: center;
  &.expanded {
    width: 100%;
    height: calc(100vh - 165px);
    top: 58px;
    left: 0;
    margin: 0;
  }
}
.content-box#daily {
  margin-top: 0.5rem;
  width: 35em;
  overflow: hidden;
  text-align: center;
  &.expanded {
    width: 100%;
    height: calc(100vh - 165px);
    top: 58px;
    bottom: 0;
    left: 0;
    margin: 0;
  }
}
.expand {
  position: absolute;
  margin-right: 20px;
  margin-top: 4px;
  height: 16px;
  width: 16px;
  cursor: pointer;
  background: url(../assets/expand.svg) center center no-repeat;
  transition: opacity 0.25s ease-out;

  &:hover {
    opacity: 0.5;
  }
}
.content-box__title {
  margin-left: 30px;
  color: #109e92;
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  display: flex;
  justify-content: center;
}
.text {
  padding-bottom: 30px;
}
/* CHART */
.chart {
  max-width: 100%;
  max-height: 706px;
}
/* FOOTER */
footer {
  height: 100%;
  padding: 5px;
  display: flex;
  a {
    text-decoration: none;
    color: #fff;

    &:hover {
      color: #f9b64f;
    }
  }
}
.footer__RS-logo {
  margin: 1rem 0;
  width: 8rem;
  margin-right: 100px;
}
.footer__RS-logo:hover {
  opacity: 0.8;
}

.map-info {
  font-size: 1.4rem;
  font-weight: 700;
  background: rgba($color: #000000, $alpha: 0.2);
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.map-legend {
  line-height: 18px;
  color: #555;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  background: rgba($color: #ffffff, $alpha: 0.3);

  &__container {
    display: flex;
    padding: 0.2rem;
  }
  & i {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 8px;
    opacity: 0.7;
  }
}
